<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.tmon.social.batch.dao.mapper.Keyword">
	<select id="getKeyword" resultType="keyword">
		SELECT
			corp_name AS 'companyName',
			keyword AS 'companyKeyword'
		FROM
			keyword,
			corporation
		WHERE
			keyword.corp_id = corporation.corp_id
	</select>
</mapper>