<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.tmon.social.batch.dao.mapper.NewsMapper">
	<insert id="insertNewsList" parameterType="list">
		INSERT
		IGNORE
		INTO news(
			link,
			title,
			image,
			date,
			provider		
		)
		VALUES(
		<foreach collection="list" item="news" separator="), (">
			#{news.link},
			#{news.title},
			#{news.image},
			#{news.date},
			#{news.provider}
		</foreach>
		)
	</insert>
	
	<insert id="insertRelationList" parameterType="list">
		INSERT
		IGNORE
		INTO news_corp_relation(
			corp_id,	
			preview,
			news_id
		)
		VALUES(
		<foreach collection="list" item="news" separator="), (">
			#{news.companyId},
			#{news.preview},
			(
			SELECT
				news_id
			FROM
				news
			WHERE
				DATE(date) = DATE(#{news.date})
			AND
				news.link = #{news.link}
			)
		</foreach>
		)
	</insert>
</mapper>