<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.tmon.social.batch.filter.dao.mapper.NewsForFilteringMapper">
	<select id="getNewsForFilteringList" parameterType="string" resultType="newsForFiltering">
		SELECT
			news_corp_relation.news_id AS newsId,
			news_corp_relation.corp_id AS companyId,
			news.title AS title,
			news_corp_relation.preview AS preview,
			GROUP_CONCAT(keyword.keyword) AS keywordList
		FROM
			news_corp_relation,
			news,
			keyword
		WHERE
			keyword.corp_id = news_corp_relation.corp_id
			AND
			news_corp_relation.news_id = news.news_id
			AND
			news.date >= #{date}
		GROUP BY
			keyword.corp_id, news.news_id
	</select>
	
	<select id="getSingleNewsForFilteringList" parameterType="string" resultType="newsForFiltering">
		SELECT
			news.news_id AS newsId,
			corp_id AS companyId,
			relation_score AS relationScore
		FROM
			news_corp_relation,
			news
		WHERE
			news.news_id = news_corp_relation.news_id
			AND
			news.date >= #{date}	
		GROUP BY
			news.news_id
		HAVING 
		    COUNT(*)=1
	</select>
	
	<update id="updateRelationScoreList" parameterType="list">
		UPDATE
			news_corp_relation
		SET			
			relation_score = CASE
		<foreach collection="list" item="newsForFiltering">
			WHEN
				news_id = #{newsForFiltering.newsId}
			AND
				corp_id = #{newsForFiltering.companyId}
			THEN
				#{newsForFiltering.relationScore}
			
		</foreach>
		ELSE
			relation_score
		END
		
	</update>
	
	<delete id="deleteRelationList" parameterType="list">
		DELETE FROM
			news_corp_relation
		WHERE
		<foreach collection="list" item="newsForFiltering" separator=" OR ">
			( news_id = #{newsForFiltering.newsId} AND corp_id = #{newsForFiltering.companyId} ) 
		</foreach> 
	</delete>
	
	<delete id="deleteNewsList" parameterType="list">
		DELETE FROM
			news
		WHERE
		<foreach collection="list" item="newsForFiltering" separator=" OR ">
			news_id = #{newsForFiltering.newsId}
		</foreach>
	</delete>
</mapper>