<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration      
     PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 		"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<!-- FQCN(Full Qualified Class Name) Alias(별칭관리) -->
	<typeAliases>
		<typeAlias type="kr.co.tmon.social.batch.vo.Keyword" alias="keyword"/>
		<typeAlias type="kr.co.tmon.social.batch.vo.News" alias="news"/>
		<typeAlias type="kr.co.tmon.social.batch.vo.AppInfo" alias="appInfo"/>
		<typeAlias type="kr.co.tmon.social.batch.vo.AndroidAppReview" alias="androidAppReview"/>
		<typeAlias type="kr.co.tmon.social.filter.vo.NewsForFiltering" alias="newsForFiltering"/>
	</typeAliases>

	<!-- SQL Definition :: file include -->
	<mappers>
		<mapper resource="sql/batch/mapper/KeywordMapper.xml" />
		<mapper resource="sql/batch/mapper/NewsMapper.xml" />
		<mapper resource="sql/batch/mapper/AppInfoMapper.xml" />		
		<mapper resource="sql/batch/mapper/AndroidAppReviewMapper.xml" />		
		<mapper resource="sql/filter/mapper/NewsForFilteringMapper.xml" />		
	</mappers>

</configuration>
